.mic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.container-2 {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.toggle-sound {
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    width: 100px;
    height: 100px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 0 #6372ff;
}
.disable {
    background: #7c7c7c;
}
.toggle-sound-anim {
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}
@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}
@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

.sound {
    width: 97%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sound--icon {
    font-size: 3.6rem;
}
.audioplayer {
    /* background-color: #ec407a; */
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

audio {
    border-radius: 6px;
    background-color: #5ca9fb;
}
